article {
    background-color: #F8F9FC;

    height: 343px;
}

article figure {
    max-width: 1200px;

    display: flex;
    align-items: center;

    margin: 0 auto;
    padding: 20px 0px;
}

article h2 {
    margin: 0px 10px;
}

article section {
    max-width: 1200px;

    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}

article ul {
    background-color: #FFFFFF;

    width: 224px;
    height: 200px;

    margin-right: 7px;

    border: 1px solid #E5E5E5;
    border-radius: 6px;

    list-style: none;
}

article ul h4 {
    background-color: #D51C17;
    color: #FFFFFF;

    padding: 4px 3px;

    width: 63px;

    border-radius: 4px;

    text-align: center;
}

article ul:last-child {
    margin-right: 0px;
}

article ul li {
    padding: 20px;
}

article p {
    margin-bottom: 0;
    margin-top: 55px;
}

article ul p:first-child {
    max-width: 92%;
}

article ul li p:last-child {
    margin: 0;
    margin-top: 5px;
}