footer {
    background-color: #EBEBEB;
}

footer figure {
    display: none;
}

.navbar-top {
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 0px;
    margin: 0 auto;
}

.navbar-top ul:first-child li img {
    width: 203px;
    height: 70px;
}

.navbar-top ul {
    list-style: none;
}

.social-2 {
    display: flex;
}

.social-2 li:last-child {
    background: #D51C17;

    border-radius: 25px;

    margin-left: 15px;
    padding: 9.5px 10.5px 3.5px 10.5px;
}

.social-2 li:first-child {
    background: #D51C17;

    border-radius: 25px;

    padding: 11px 16.2px 6px 16.2px;
}

.navbar-down {
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 auto;
    padding-bottom: 55px;
}

.navbar-down ul {
    width: 135px;
}

.navbar-down ul li {
    display: flex;
    flex-direction: column;

    list-style: none;
}

.navbar-down a {
    margin-top: 12px;

    text-decoration: none;
}

.space {
    margin-top: 50px;
}

.copyright {
    max-width: 1200px;

    display: flex;
    justify-content: space-between;

    margin: 0px auto;
    padding: 30px 0px;

    border-top: 2px solid #C2C2C2;
}

.copyright h5 {
    max-width: 90%;
}