* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #F8F9FC;

    z-index: 2;
    position: relative;

    height: 154px;

    padding: 20px;
}

.navbar-1 {
    max-width: 1200px;
    padding-bottom: 14px;

    display: flex;
    align-items: center;

    margin: 0 auto;

    border-bottom: 1px solid #E5E5E5;

    list-style: none;
}

.navbar-1 ul {
    display: flex;

    list-style: none;
}

.logo {
    flex: 1 1 10%;
    justify-content: start;
}

.climate {
    flex: 1 1 25%;
    justify-content: center;
}

.climate li:last-child {
    margin-left: 8px;
}

.assi-class {
    justify-content: center;
    flex: 1 1 18%;
}

.assi-class a {
    text-decoration: none;
}

.assi-class li:first-child {
    margin-right: 18px;
}

.search {
    justify-content: center;
    flex: 1 1 40%;
}

.search form {
    position: relative;
}


.search input {
    width: 321px;
    height: 45px;

    padding: 0px 20px;

    border-radius: 14px;
    border: 1px solid #E5E5E5;
}

.search button {
    background: transparent;

    position: absolute;
    right: 18px;
    top: 13px;

    border: none;
}

.social {
    flex: 1 1 10%;
    justify-content: end;
}

.social li:last-child {
    margin-left: 15px;
}

.social li img {
    width: 39px;
    height: 35px;

    padding: 8px;
}

.social li {
    background: #D51C17;

    border-radius: 25px;
}

.btn-burguer a {
    display: none;

    margin-right: 20px;
}


.navbar-categories ul {
    max-width: 1200px;
    min-width: 200px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    margin: 0 auto;

    border-bottom: 1px solid #E5E5E5;

    overflow-x: scroll;

    text-decoration: none;
    list-style: none;
}

.navbar-categories ul li {
    margin-right: 10px;
}

.navbar-categories ul li:last-child {
    margin: 0;
}

.navbar-categories ul::-webkit-scrollbar {
    display: none;
}

.navbar-categories a {
    text-decoration: none;
}

.no-break {
    white-space: nowrap;
}