.mobile-image{
    display: none;
}

.picture-main img{
    position: relative;
    z-index: 1;
    width: 100%;
}

.box-home{
    z-index: 2;
    position: relative;
    bottom: 70px;

    background-color: #fff;

    max-width:950px;
    height: 200px;

    margin: 0 auto;
}

.box-home ul{
    max-width: 885px;

    padding: 30px 50px;

    list-style: none;
}

.icon-bg{
    display: flex;
    justify-content: space-between;
    
    text-align: center;

    max-width: 1145px;
    margin: 0  auto;
}
