main {
    background-color: #F8F9FC;
}

p {
    margin: 40px 0px;
}

.mobile-image,
.mobile-image-2 {
    display: none;
}

.box-img-home {
    position: relative;

    padding-bottom: 0px;
}

.picture-main img {
    z-index: 1;
    position: relative;

    width: 100%;
}

.box-img-home ul {
    z-index: 2;
    position: relative;
    bottom: 70px;
}

.box-img-home ul {
    background-color: #F5F8F7;

    max-width: 950px;

    margin: 0 auto;
    padding: 0px 50px;

    list-style: none;
}

.box-img-home ul li:first-child {
    padding-top: 35px;
    padding-bottom: 38px;
}

.box-img-home ul li:last-child {
    padding-bottom: 0;
}

.box-img-home a {
    text-decoration: none;
}

.icons {
    position: relative;
    bottom: 76px;
}

.icons div:first-child {
    z-index: 3;
    position: relative;

    max-width: 1145px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    text-align: center;
}

.icons div:last-child {
    z-index: 3;
    position: relative;

    max-width: 1145px;

    margin: 0 auto;
}

.icons div:last-child figure {
    max-width: 31.69px;
    height: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 25px 0px;
}

.icons div:last-child figure img {
    margin-bottom: 11px;
}

.icons-2 {
    max-width: 80%;

    display: none;

    margin: 0 auto;
}

.icons-2 img {
    margin-bottom: 6px;
}

.icons-2 a {
    text-decoration: none;
}

.body-main {
    z-index: 2;
    position: relative;
    bottom: 136px;

    max-width: 960px;

    padding: 0px 50px;
    margin: 0 auto;
}

.body-main section:first-child {
    padding-top: 0px;
}

.body-main p {
    margin-top: 10px;
}

.quote-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote-1 figure {
    flex: 1 1 50%;
}

.quote-1 figure:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.quote-1 figure:first-child img {
    width: 14%;

    margin: 0 auto;
}

.quote-1 figure:first-child blockquote {
    max-width: 357px;

    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 8px;
}

.video-eva {
    margin: 40px auto;

    text-align: center;
}

.video-eva iframe {
    border-radius: 6px;
}

.album h2 {
    margin-bottom: 15px;
}

.album {
    text-align: center;
}

.border-red {
    display: flex;
    align-items: center;

    padding: 12px;

    border: 1px solid #D51C17;
    border-radius: 20px;
}

.download-cape,
.interview {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
}

.download-cape div,
.interview div {
    margin-left: 15px;
}

.text-center {
    max-width: 820px;

    padding-left: 50px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.picture-birth {
    text-align: center;
}

.picture-birth img {
    width: 100%;
}