@media(max-width: 996px) {
    .article-main {
        margin-top: 20px;
    }

    .article-main {
        bottom: 60px;
    }

    .btn-burguer a {
        display: block;
    }

    .search li {
        display: none;
    }

    .climate {
        flex-basis: 89%;
    }

    .assi-class {
        flex-basis: 89%;
    }

    .icons ul:first-child {
        display: none;
    }

    .icons ul:last-child {
        display: none;
    }

    .icons-2 {
        display: flex;
        justify-content: center;

        padding-bottom: 20px;
    }

    .icons-2 a {
        display: flex;
        flex-direction: column;
        align-items: center;

        flex: 1 1 35%;
    }

    footer {
        padding: 0px 20px;
    }

    .navbar-down ul {
        margin-bottom: 20px;
    }

    /* FONTS */

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 15px;
    }

    .icons-2 p {
        font-size: 16px;
    }

    .read-too section ul p {
        font-size: 13px;

        line-height: 16px;
    }
}

@media(max-width: 794px) {
    .navbar-categories ul::-webkit-scrollbar {
        display: block;

        height: 2px;
    }
    .navbar-categories ul::-webkit-scrollbar-thumb {
        background-color: #D51C17;

        border-radius: 15px;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
    }

    .box-img-home ul {
        bottom: 0px;
    }

    .article-main {
        bottom: 0px;
    }

    .quote-1 {
        flex-direction: column;
    }

    .quote-1 figure:first-child blockquote {
        max-width: 80%;
    }

    .quote-1 cite {
        margin-bottom: 20px;
    }

    .picture-birth img {
        height: clamp(12rem, 50vw, 40rem);
    }

    /* FONTS */

    h1 {
        font-size: 38px;
    }

    p {
        font-size: 14px;

        margin: 30px 0px;
    }

    .icons-2 p {
        font-size: 14px;
    }

    .read-too section ul p {
        font-size: 10px;

        line-height: 16px;
    }

    .album span {
        font-size: 20px;
    }
}

@media(max-width: 668px) {
    .assi-class li {
        display: none;
    }

    .climate {
        flex-basis: 170%;
    }

    .video-eva iframe {
        width: clamp(17rem, 77vw, 80rem);
        height: clamp(10rem, 58vw, 60rem);
    }

    .album iframe {
        width: 100%;
        height: clamp(27rem, 70vw, 80rem);
    }

    .text-center {
        padding: 0;
    }

    .read-too {
        height: 1250px;
    }

    .read-too section {
        flex-direction: column;
        align-items: center;
    }

    .read-too ul {
        width: 90%;
        height: 200px;

        margin: 10px;
    }

    .read-too ul:last-child {
        margin-left: 0;
    }

    .read-too ul li {
        padding: 30px;
    }

    .navbar-down {
        padding-bottom: 0px;
    }

    .copyright h5 {
        margin: 0 auto;

        text-align: center;
    }

    .copyright img {
        display: none;
    }

    footer div {
        display: block;

        text-align: end;
    }

    /* FONTS */

    h1 {
        font-size: 30px;

        line-height: 35px;
    }

    p {
        font-size: 14px;

        margin: 20px 0px;
    }

    .quote-1 blockquote {
        font-size: 20px;
    }

    .download-cape h3,
    .interview h3 {
        font-size: 12px;
    }

    .download-cape h4,
    .interview h4 {
        font-size: 10px;
    }

    .album span {
        font-size: 18px;
    }

    .difficult {
        font-size: 20px;
    }

    .text-center {
        font-size: 17px;
    }

    .read-too ul li p {
        font-size: 15px;
    }
}

@media(max-width: 572px) {
    .article-main {
        padding: 0px 20px;
    }

    .box-img-home ul {
        padding: 0px 20px;
    }

    .box-img-home ul li:first-child {
        padding-bottom: 10px;
    }

    header {
        height: 145px;
    }

    .logo img {
        width: 100px;
    }

    .climate img {
        width: 20px;
    }

    .climate {
        flex-basis: 800%;
        justify-content: end;
    }

    .social li {
        display: none;
    }

    .box-img-home ul {
        max-width: 1250px;
    }

    .quote-1 figure:last-child img {
        width: 100%;
        height: auto;
    }

    .quote-1 figure:first-child blockquote {
        max-width: 330px;
    }

    /* FONTS */

    .climate h5 {
        font-size: 10px;
    }

    .climate h6 {
        font-size: 8px;
    }

    .project {
        font-size: 17px;
    }

    .icons-2 p {
        font-size: 12px;
    }

    .quote-1 blockquote {
        font-size: 20px;
    }

    .read-too div {
        padding: 20px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;

        line-height: 20px;
    }
}

@media(max-width: 392px) {
    .navbar-top ul:first-child li img {
        width: 150px;
    }

    /* FONTS */

    h1 {
        font-size: 22px;

        line-height: 24px;
    }

    .project {
        font-size: 14px;
    }

    .icons-2 p {
        font-size: 10px;
    }

    .box-img-home ul li h5 {
        font-size: 10px;
    }

    .album span {
        font-size: 16px;
    }

    .copyright h5 {
        font-size: 10px;
    }

    .navbar-down figure {
        margin-left: 70vw;
    }

}