/*@font-face {
    font-family: "Poppins Special";
    src: url(/components/font/Poppins-Regular.ttf) format(truetype);
}
@font-face {
    font-family: "Poppins Special";
    src: url(/components/font/Poppins-Medium.ttf) format(truetype);
    font-weight: 500;
}
@font-face {
    font-family: "Poppins Special";
    src: url(/components/font/Poppins-SemiBold.ttf) format(truetype);
    font-weight: 600;
}
@font-face {
    font-family: "Poppins Special";
    src: url(/components/font/Poppins-Bold.ttf) format(truetype);
    font-weight: 700;
}
@font-face {
    font-family: "Poppins Special";
    src: url(/components/font/Poppins-ExtraBold.ttf) format(truetype);
    font-weight: 800;
}
@font-face {
    font-family: "Poppins Special";
    src: url(/components/font/Poppins-Black.ttf) format(truetype);
    font-weight: 950;
}*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bold;

    color: #2F2F2F;

    line-height: 49px;
}

h5 {
    color: #6C6C6C;
}

p {
    line-height: 30px;
    font-size: 16px;

    color: #2F2F2F;
}

cite {
    font-style: normal;
}

.upppercase {
    text-transform: uppercase;
}

.climate span:first-child {
    font-size: 14px;
    font-weight: bold;

    color: #2F2F2F;
}

.climate span:last-child {
    font-size: 12px;
    font-weight: 600;

    color: #7C7C7C;
}

.assi-class a {
    font-size: 12px;
    font-weight: bolder;

    color: #D51C17;
}

.search input {
    color: #9F9F9F;
}

.navbar-categories a {
    font-size: 11px;
    font-weight: 700;

    color: #2F2F2F;
}

.no-break:last-child a {
    color: #D51C17;
}

.box-img-home a {
    font-size: 12px;
    font-weight: bold;

    color: #D51C17;
}

.box-img-home span {
    font-size: 12px;
    font-weight: 650;

    color: #6C6C6C;
}

.project {
    font-size: 20px;

    color: #7C7C7C;
}

.icons ul:first-child p {
    font-size: 10px;
    font-weight: bold;

    color: #D51C17;
}

.icons-2 p {
    font-weight: bold;

    color: #D51C17;
}

.quote-1 blockquote {
    font-size: 24px;
    font-weight: bold;

    color: #2F2F2F;
}

.album span {
    font-size: 24px;
    font-weight: bolder;

    color: #2F2F2F;
}

.reprodution {
    font-size: 12px;

    color: #7C7C7C;
}

.download-cape span:first-child,
.interview span:first-child {
    font-size: 14px;
    font-weight: bold;

    color: #D51C17;
}

.download-cape span:last-child,
.interview span:last-child {
    font-size: 12px;

    color: #9F9F9F;
}

.difficult {
    font-size: 36px;

    color: #2F2F2F;
}

.text-center mark {
    font-size: 24px;
    font-weight: bolder;

    color: #D51C17;
}

.read-too div span {
    font-size: 30px;
    font-weight: 950;

    color: #D51C17;
}

.read-too span {
    font-size: 10px;
    font-weight: 600;
}

.read-too article h3 {
    font-size: 15px;
    font-weight: bold;

    color: #141414;

    line-height: 20px;
}

.read-too article p {
    font-size: 10px;
    font-weight: 500;

    color: #9F9F9F;
}

.navbar-down h3 {
    font-size: 12px;
    font-weight: bolder;
}

.navbar-down a {
    font-size: 12px;

    color: #2F2F2F;
}

.copyright span {
    font-size: 10px;
    font-weight: 500;

    color: #A0A0A0;
}